h1 {
    color:#88A695;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:98%;
    height:auto;
    text-align:center;
    vertical-align:center;
    font-size:27px;
    padding:2px;
    margin-top:280px;
    align-content:center;
    width:99%;
    display:flex;
}

h2 {
    font-family:'New Century Schoolbook', 'TeX Gyre Schola', serif;
    font-size:35px;
    font-weight:normal;
    font-style:italic;
    text-align:center;
    color:white;
    bottom:10px;
    display:flex;
    justify-content:center;
    align-content:center;
    width:99%;
    padding-top:450px;
}

h3 {
    padding-top:120px;
    position:relative;
    font-weight:normal;
    font-family:'Verdana';
    text-align:center;
    color: white;
}

body {
    background-color: #304B3C;
}

nav {
    width:auto;
    overflow:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.navbar {
    font-family:Trebuchet;
    margin:-8px;
    right:0px;
    background-color:rgba(136, 166, 149, 0);
    height:55px;
    display:flex;
    flex-direction:row;
    position:relative;
}

.home-btn {
    background-color: #304B3C;
    padding:0px;
    color: #ffffff;
    margin-right:160;
    position:absolute;
    transform:scale(.22);
    width:10%;
    height:auto;
    right:94.8%;
    top:-205px;
}

.reviews-btn {
    background-color: #304B3C;
    text-decoration:none;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    margin-right:16px;
    border-radius:7px;
    border: 3px solid #64786D;
    position:absolute;
    transition:.6s;
    top:16px;
    width:65px;
    height:20px;
    right:0px;
}

.reviews-btn:hover {
    background-color:#88A695;
    border: 3px solid #64786D;
    padding:5px;
    text-align:center;
    margin-right:16px;
    border-radius:7px;
    color:#ffffff;
    text-decoration:none;
    transition:.6s;
    position:absolute;
    right:0px;
}

.typesofreadings {
    display:flex;
    width:99%;
    align-items:center;
    justify-content:center;
    position:relative;
    flex-direction:column;
    padding-top:25px;
}

.textandreading {
    width:99%;
    display:flex;
    position:absolute;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    vertical-align:center;
    gap:2px;
    padding-top:30px;
}

.typesofreadings-btn {
    background-color: #88A695;
    text-decoration:none;
    padding:5px;
    text-align: center;
    color: #ffffff;
    border-radius:7px;
    border: 3px solid #64786D;
    width:135px;
    height:20px;
    text-align:center;
    transition:.6s;
    position:relative;
}

.typesofreadings-btn:hover {
    background-color:#4A735C;
    border:3px solid #88A695;
}

.socials {
    width:30px;
    display:flex;
    gap:350px;
    position:relative;
    align-items:center;
    justify-content:space-between;
    margin-top:150px;
    bottom:0px;
    height:25px;
    transform:scale(.04);
}

.reviewformbtn {
    width:99%;
    align-items:center;
    align-content:center;
    text-align:center;
    justify-content:center;
    display:flex;
    position:absolute;
    padding-top:20px;
}

.reviewform-btn {
    background-color: #88A695;
    text-decoration:none;
    padding:5px;
    text-align: center;
    color: #ffffff;
    border-radius:7px;
    border: 3px solid #64786D;
    width:110px;
    height:20px;
    transition:.6s;
    margin-bottom:20px;
    position:absolute;
}

.reviewform-btn:hover {
    background-color:#4A735C;
    border:3px solid #88A695;
}
