h1 {
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    vertical-align:center;
    font-size:27px;
}

h2 {
    font-family:'New Century Schoolbook', 'TeX Gyre Schola', serif;
    font-size:35px;
    font-weight:normal;
    font-style:italic;
    text-align:center;
}

h3 {
    font-weight:normal;
    font-family:'Verdana';
    text-align:center;
    padding-bottom:50px;
}

body {
    background-color: #304B3C;
}

nav {
    width:auto;
    overflow:auto;
    display:flex;
    justify-content:center;
}

.navbar {
    font-family:Trebuchet;
    margin:-8px;
    right:0px;
    background-color:rgba(136, 166, 149, 0);
    height:55px;
    position:relative;
}

.home-btn {
    background-color: #304B3C;
    padding: 0px;
    color: #ffffff;
    margin-right:160;
    position:absolute;
    transform:scale(.22);
    width:10%;
    height:auto;
    right:94.8%;
    top:-205px;
}

.reviews-btn {
    background-color: #304B3C;
    text-decoration:none;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    margin-right:16px;
    border-radius:7px;
    border: 3px solid #64786D;
    position:absolute;
    top:16px;
    width:65px;
    height:20px;
    right:0px;
}

.reviews-btn:hover {
    background-color:#88A695;
    border: 3px solid #64786D;
    padding:5px;
    text-align:center;
    margin-right:16px;
    border-radius:7px;
    color:#ffffff;
    text-decoration:none;
    transition:.6s;
    position:absolute;
    right:0px;
}

.dropbtn {
    background-color: #304B3C;
    text-decoration:none;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    margin-right:16px;
    border: 3px solid #64786D;
    border-radius:7px;
    top:8px;
    font-size:16px;
    font-family:Trebuchet;
    right:180px;
    margin-top:8px;
    width:140px;
    height:36px;
    cursor:pointer;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
}

.dropbtn:hover {
    background-color: #88A695;
    text-decoration:none;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    top:8px;
    font-size:16px;
    font-family:Trebuchet;
    cursor:pointer;
    right:180px;
}

.dropdown {
    position:absolute;
    display:inline-block;
    right:90px;
    top:8px;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
}

.dropdown-content {
    display:none;
    background-color:#304B3C;
    color:#ffffff;
    border: 3px solid #64786D;
    border-top-style:none;
    width:134px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:-5px;
    box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2)
}

.dropdown-content a {
    color:#ffffff;
    text-align:center;
    width:134px;
    top:20px;
    text-decoration:none;
    display:block;
    right:180px;
    padding-top:2px;
    padding-bottom:2px;
}

.dropdown-content a:hover {
    background-color:#88A695;
    color:#ffffff;
    right:180px;
    top:20px;
    padding-top:2px;
    padding-bottom:2px;
}

.dropdown:hover .dropdown-content {
    display:block;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    border-top-style:none;
    right:180px;
    padding-top:0px;
    padding-bottom:0px;
}

.dropdown:hover .dropbtn {
    background-color:#88A695;
    transition:.6s;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    right:180px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.otheritem {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    right:180px;
}

.loveandrelationshipsitem  {
    margin-top:2px;
    border-top-style:solid;
    border-top-color:#64786D;
    border-top-width:3px;
}

.bookreading-btn {
    background-color: #88A695;
    text-decoration:none;
    padding:5px;
    text-align: center;
    color: #ffffff;
    border-radius:7px;
    border: 3px solid #64786D;
    right:240px;
    top:16px;
    width:125px;
    height:20px;
    margin-bottom:auto;
    text-align:center;
    margin-right:16px;
    transition:.6s;
    position:absolute;
}

.bookreading-btn:hover {
    background-color:#4A735C;
    border:3px solid #88A695;
}

.reviews {
    position:absolute;
    width:99%;
    height:70%;
    top:250px;
}